
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('imagens/fundotropical.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    background-color: rgba(1, 41, 10, 0.8);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    height: 60px;
    border-radius: 35px;
    background-color: rgba(4, 107, 73, 0.438);
    color: rgb(13, 231, 111);
    font-size: 35px;
    margin-bottom: 20px;
}

.formulario {
    max-width: 100%;
}

.linha {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
}

.linha label {
    flex: 1;
    max-width: 120px;
    font-family: 'Poppins' , sans-serif;
    color: #8df77f;
}

.linha input,
.linha select {
    flex: 1;
    border: 1px solid rgb(2, 61, 41);
    border-radius: 10px;
    padding: 5px;
}

input[type='submit'] {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #8df77f;
    color: rgb(2, 61, 41);
    border: 1px solid #8df77f;
}
